.container-navbar {
  justify-content: space-between;
  display: flex;
  min-height: 30px;
  background-color: #d15c6a;
  border-radius: 25px;  
  .logo {
    background-image: url("../images/logo1.jpg");
    align-self: start;
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 430px;
    height: 150px;
  }
  .navbar-links {
    align-self: flex-end;
    list-style-type: none;
    overflow: hidden;
    li {
      float: right;
      a {
        display: block;
        padding: 10px 25px 10px 25px;
        margin: 5px 10px 5px 10px;
        color:#EFEDE1;
        
        text-decoration: none;
      }
    }
  }
}
